/00_TriangleAssignment/node_modules
/00_TriangleAssignment/package-lock.json

/01_StaticTestTechniques/nbproject/
/01_StaticTestTechniques/target/

/02_TestCaseDesign/nbproject/
/02_TestCaseDesign/target/

/03_UnitTesting/.idea/

/04-05_Midterm_Assignment/javaanpr/target/
/04-05_Midterm_Assignment/javaanpr/report/

/04-05_Midterm_Assignment/startCodeForTesting1/target/
/04-05_Midterm_Assignment/startCodeForTesting1/nbproject/

/04-05_Midterm_Assignment/monopoly/target/
/04-05_Midterm_Assignment/monopoly/nbproject/

/MonopolyWithMocking_Solution/monopoly/target/
/MonopolyWithMocking_Solution/monopoly/nbproject/

/06_SystemTesting/seleniumExCompiled/node_modules/
/06_SystemTesting/SeleniumSystemTesting/target/

/07_TechnicalProofOfConcept/nbproject/
/07_TechnicalProofOfConcept/target/
/07_TechnicalProofOfConcept/out/
